* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

:root {
    --main-bg-color: rgba(233, 227, 221, 1);
    --main-black-color: rgba(25, 23, 23, 1);
} 

body {
    background-color: rgba(233, 227, 221, 1);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Lora;
}

/* regrouper tous les elemets repete comme liens paragraph etc */

header {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;

    & #menu {
        display: grid;
        grid-template-rows: repeat(3, 7rem);
        grid-auto-flow: row;
        gap: 1rem;
        padding: 1rem 2rem;
        color: #000;
        font-family: Lora;
        font-size: 5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        position: relative;

        & .menu-item {
            text-decoration: none;
            color: black;
            font-style: normal;
            padding: 2rem;
            transition: transform 0.5s ease;
            position: inherit;
        }

        & .menu-item:hover {
            transform: scale(1.05) skewX(-5deg);
        }
    }

    & #photoId {
        transform: scale(0.8);
    }

    & .home-btn-container {
        height: 2.5rem;
        width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .home-btn {
        border-style: none;
        text-transform: uppercase;
        background-color: transparent;
        font-weight: lighter;
    }

    & .home-btn:hover {
        background-color: var(--main-black-color);
        color: var(--main-bg-color);
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.5s ease;
    }

    & .social-links {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        & .social {
            text-decoration: none;
            color: black;
            display: inline-block;
            position: relative;
        }

        & .social::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: black;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        & .social:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }   
    }

    & .hero-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3rem;
    }

    & .presentation {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        align-self: flex-end;
        width: 353px;
        height: 234px;
        flex-shrink: 0;
        padding-bottom: 2rem;

    }
}

.separation-line {
    display: block;
    border: 0.05rem solid;
    border-top: 1rem;
    border-color: black;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.projetcs-carousel {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;

    & .carousel-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 3rem;
        align-self: center;
        scrollbar-width: thin;
        scrollbar-gutter: var(--main-bg-color);
        scrollbar-color: var(--main-black-color);
    }

    & .project-carousel-item {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 0 0 auto;

        & .project-carousel-item:hover {
            filter: grayscale(80);
            transition: 1s ease;
        }

        & .project-link {
            text-decoration: none;
            color: black;
            display: inline-block;
            position: relative;
        }

        & .project-link::after {
            content: '';
            position: absolute;
            width: 50%;
            transform: scaleX(0);
            height: 0.10rem;
            bottom: 0;
            left: 0;
            background-color: #000;
            transform-origin: bottom right;
            transition: transform 0.5s ease;
        }

        & .project-link:hover::after {
            transform: scaleX(1);
            transform-origin: bottom;
        }        
    }
}

.sepia-image:hover {
    filter: sepia(65);
    transition: 1s ease;
}

h2 {
    text-transform: uppercase;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

.projets-portfolio {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

    & .projects-list {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;

        & .project-list-item {
            display: grid; 
            grid-template-columns: 2fr 1fr; 
            justify-items: start;
            row-gap: 2rem;
            align-items: center; 
            padding-left: 2rem;
            padding-right: 2rem;

            & button {
                border-style: none;
                background-color: transparent;
            }
                
            .plus-sign {
                height: 1.5rem;
                width: 1.5rem;
            }

            .plus-sign:hover {
                transform: scale(1.2);
                transition: 0.5s ease;
            }

            & .project-title {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;
                align-items: center;

                & .title-xl {
                    font-size: 2rem;
                    padding-left: 15rem;
                }
            }

            .project-details-container {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                background-color: rgba(216, 206, 200, 0.589);
                border-radius: 5%;
                padding: 2.5rem;
                box-shadow: 2px 2px 40px -18px rgba(25, 23, 23, 1);

                & .project-details-text {
                    display: flex;
                    flex-direction: column;
                    gap: 2.5rem;

                    & > h3 {
                        text-transform: uppercase;
                        font-weight: 100;
                    }
                    
                    & .project-links {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;

                        & > a {
                        text-decoration: none;
                        color: #000;
                        text-transform: capitalize;
                        }

                        & > a:hover {
                            transform: translateX(0.3rem);
                            transition: transform 0.5s ease;
                        }
                    }
                }

                & .project-details-image {
                    display: flex;
                    gap: 2.5rem;
                    justify-content: center;

                    & > img {
                        width: 40%;
                        border-radius: 3%;
                    }
                }
            }
        }
    }
}

#talentAndSkills {
    padding: 0 2.5rem;
    position: relative;

    & .subtitle {
        position: relative;
        left: -0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
        
        & p > button {
            text-transform: uppercase;
        }
    }

    & .details {
        position: relative;

        & .details-list {
            text-transform: capitalize;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 0.5rem;
            position: relative;
            left: 15rem;
        }
    }

    & .progress-circles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        align-content: center;
        width: 50%;
        position: relative;
        left: 5rem;
        padding: 3rem;

        & .circle {
            height: 6rem;
            width: 6rem;
        }
    }
}

#educationSpecialisation {
    padding: 0 2.5rem;
    position: relative;

    & .subtitle {
        position: relative;
        left: -0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
        
        & p > button {
            text-transform: uppercase;
        }
    }

    & .details {
        position: relative;

        & .school {
            position: relative;
            left: 2rem;
            padding-top: 0;
            padding-bottom: 1.5rem;
            padding-left: 1rem;
            font-size: small;
            text-decoration: underline;
            text-transform: capitalize;
        }

        & .details-list {
            text-transform: capitalize;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 0.5rem;
            position: relative;
            left: 15rem;
        }
    }
}

#workBackground {
    padding: 0 2.5rem;
    position: relative;

    & .subtitle {
        position: relative;
        left: -0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
        
        & p > button {
            text-transform: uppercase;
        }
    }

    & .details {
        position: relative;

        & .place {
            position: relative;
            left: 2rem;
            padding-top: 0;
            padding-bottom: 1.5rem;
            padding-left: 1rem;
            font-size: small;
            text-decoration: underline;
            text-transform: capitalize;
        }

        & .details-list {
            text-transform: capitalize;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 0.5rem;
            position: relative;
            left: 15rem;
        }
    }
}

#languages {
    padding: 0 2.5rem;
    position: relative;

    & .subtitle {
        position: relative;
        left: -0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
        
        & p > button {
            text-transform: uppercase;
        }
    }

    & .details {
        position: relative;

        & .details-list {
            text-transform: capitalize;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 0.5rem;
            position: relative;
            left: 15rem;
        }
    }
}

#interests {
    padding: 0 2.5rem;
    position: relative;

    & .subtitle {
        position: relative;
        left: -0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
        
        & p > button {
            text-transform: uppercase;
        }

        & .uppercase {
            text-transform: uppercase;
        }
    }

    & .details {
        position: relative;

        & .details-list {
            text-transform: capitalize;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 0.5rem;
            position: relative;
            left: 15rem;
        }
    }
}

.subtitles {
    margin: 1.5rem;
    border-left: 0.05rem solid;
    border-color: var(--main-black-color);
}

.sub-hover:hover {
    background-color: var(--main-black-color);
    color: var(--main-bg-color);
    transition: all 0.5s ease;
}

footer {
    background-color: rgba(25, 23, 23, 1);
    width: 100%;
    color: white;
    height: 20rem;

    & .footer-content {
        padding: 0 2.5rem 2.5rem;
        display: flex;
        flex-direction: column;
    }

    & a {
        color: azure;
        text-decoration: none;
    }

    .separation-line-white {
        display: block;
        border: 0.05rem solid;
        border-top: 1rem;
        border-color: white;
    }

    & .footer-text {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 2rem;
        padding-top: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: 100;
    }

    .online {
        display: flex;
        align-items: baseline;
        gap: 1.5rem;

        & a:hover {
            transform: scale(1.1);
            transition: 0.5s ease;
        }
    }
}